@charset "UTF-8";
* {
  padding-left: 0;
}

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --triple-texr-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --triple-bg-color: #2f303a;
  --time-animation: 1s;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* цвет основного текста #212121 */
/* вторичный цвет текста #757575 */
/* троичный цвет текста (контакты в футере) rgba(255, 255, 255, 0.6) */
/* белый цвет #FFFFFF */
/* акцент #2196F3 */
/* бэкграунд основной #F5F4FA */
/* бэкграунд вторичный #2F303A */
body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}

ul {
  list-style: none;
  /* margin-left: -30px; */
  margin-top: 0;
  margin-bottom: 0;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.nav-flex {
  display: flex;
  margin-right: auto;
}

.nav-contacts {
  display: flex;
}

.nav-contacts .item {
  margin-right: 50px;
}

.nav-contacts .item:last-child {
  margin-right: 0;
}

.container-flex {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.container-flex .logo {
  display: flex;
  align-items: center;
}

.site-nav .item {
  margin-right: 40px;
  padding-top: 32px;
  padding-bottom: 32px;
  /* outline: 2px solid green; */
  /*background-color: red; */
  height: max-content;
  position: relative;
}

.site-nav .current::after {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: var(--accent-color);
  position: absolute;
  bottom: 0;
  border-radius: 2px;
}

.site-nav .item:last-child {
  margin-right: 0;
}

.site-nav {
  margin-left: 93px;
}

/* logo style */
.logo .web {
  color: var(--accent-color);
}

.logo:hover,
.logo:focus {
  color: var(--accent-color);
}

.logo {
  color: var(--title-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
  transition: all var(--time-animation) cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav {
  display: flex;
}

/* site nav */
.site-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color var(--time-animation) cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

/* contacts in header */
.contacts .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: all var(--time-animation) cubic-bezier(0.4, 0, 0.2, 1);
}

/* .contacts {
  margin: 100px;
} */
.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}

/* hero */
.hero {
  background-color: #2f303a;
  /* outline: 2px solid tomato; */
  text-align: center;
  height: 600px;
  padding-top: 200px;
  padding-bottom: 210px;
  /* padding-left: 452px;
  padding-right: 452px; */
  /* background-image: rgba(47, 48, 58, 0.4); */
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero/Imgheroclean.jpg);
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.hero-title {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  margin: 0 0 40px 0;
  text-transform: uppercase;
  padding-top: 200px;
}

.button {
  border-radius: 3px;
  padding: 10px 32px;
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.contact-us {
  padding-top: 40px;
  padding-bottom: 50px;
  padding-left: 40px;
  padding-right: 40px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.contact-us-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 12px;
  color: var(--title-text-color);
}

.policy-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  margin-left: 30px;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.qwer {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: var(--accent-color);
  margin-top: 0;
  margin-bottom: 0;
  /* outline: 2px solid rgb(55, 35, 142); */
}

.form-field {
  /* display: flex;
  flex-direction: column; */
  text-align: left;
  /* position: relative; */
  left: 0;
}

.qaz {
  text-align: center;
  margin-bottom: 30px;
  display: block;
}

.form-field-comm {
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  /* height: 120px; */
  width: 100%;
}

.form-field input {
  margin-top: 4px;
  margin-bottom: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 35px;
}

.form-field textarea {
  margin-top: 4px;
  margin-bottom: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
}

.form-field-name {
  display: flex;
  flex-direction: column;
  text-align: start;
  position: relative;
  font-weight: normal;
  font-size: 12 px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  margin-top: 0;
  margin-bottom: 0;
}

/* .form-icons-svg {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */
.form-icons-svg {
  width: 15px;
  height: 15px;
  position: absolute;
  /* bottom: 35px;
  left: 15px; */
  top: 50%;
  left: 20px;
  transform: translateX(-50%);
}

.policy-link {
  color: var(--accent-color);
}

.customer-checkbox {
  display: inline-block;
  width: 16px;
  height: 15px;
  background-color: white;
  border-radius: 2px;
  border: 2px solid var(--title-text-color);
  vertical-align: middle;
  /* position: absolute; */
  /* outline: 1px solid red; */
}

.checkbox:checked ~ .customer-checkbox {
  background-color: var(--accent-color);
  background-image: url(../img/galkanots.svg);
  border-color: var(--accent-color);
  vertical-align: middle;
}

/* section */
.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
  letter-spacing: 0.03em;
  /* outline: 3px solid orange; */
  margin-top: 0;
  margin-bottom: 50px;
}

/* features */
.feature-list .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* feature list discribse of features */
.feature-list .text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin: 0;
}

.feature-list {
  display: flex;
}

.feature-list .item .title {
  margin-bottom: 10px;
  margin-top: 0;
}

/* team */
.team-list .title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team-list .text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 0;
  text-align: center;
  margin-top: 0;
}

.team-list {
  /* padding-top: 94px;
  padding-bottom: 94px; */
  margin-top: 0;
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

/* .team-list {
  margin-right: 30px;
} */
.team-list .item {
  /* width: calc(100% / 4 - 30px);
  margin-left: 30px;
  text-align: center; */
  margin-right: 30px;
}

.team-list-item {
  background-color: var(--primary-bg-color);
  /* margin-right: 30px; */
  width: calc(100% / 4 - 30px);
  margin-left: 30px;
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

/* .container-exmpls {
  background-color: green;
} */
.exmpls {
  display: flex;
  /* padding-top: 50px; */
  /* padding-bottom: 94px; */
  margin-left: -30px;
  flex-wrap: wrap;
}

.exmpls .item {
  width: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  text-align: center;
}

/* .exmpls .item:not(:first-child) {
  margin-left: 30px;
} */
/* footer */
.footer {
  background-color: var(--triple-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

/* logo footer */
.studio.footer {
  color: var(--primary-bg-color);
}

.container-footer .logo {
  color: var(--primary-bg-color);
}

.container-footer .adres {
  margin-bottom: 9px;
  margin-top: 20px;
}

.footer-contacts .item {
  margin-bottom: 9px;
}

.footer-contacts {
  margin-top: 9px;
}

/* adres footer */
.adres {
  color: var(--primary-bg-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
}

/* contacts footer */
.footer .contact-title {
  color: var(--triple-texr-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  font-style: normal;
}

/* filter button */
.filter .title-button {
  border-radius: 3px;
  border: none;
  padding: 10px 32px;
  background-color: var(--primary-bg-color);
  color: var(--title-text-color);
  font-family: Roboto;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background-color: var(--secondary-bg-color);
  justify-content: center;
  transition: all var(--time-animation) cubic-bezier(0.4, 0, 0.2, 1);
}

.filter .title-button:hover,
.filter .title-button:focus {
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
  border: none;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.filter .item:not(:last-child) {
  margin-right: 8px;
}

/* .filter.title-button:last-child {
  margin-right: 0;
  background: green;
} */
/* .footer .footer-list {
  padding-inline-start: 0px;
} */
/* team */
.team {
  background-color: var(--secondary-bg-color);
  /* padding-top: 94px;
  padding-bottom: 94px; */
}

.team-list .image-team {
  margin-bottom: 30px;
}

.team-list .title {
  margin-bottom: 10px;
  /* margin-left: auto;
  margin-right: auto; */
  text-align: center;
}

/* .team-list .text {
  margin-bottom: 30px;
  text-align: center;
  margin-top: 0;
} */
/* title of cards */
.work-list .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.work-list .link {
  text-decoration: none;
  position: relative;
}

/* text of card */
.work-list .text {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  text-decoration: none;
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  /* outline: 2px solid green; */
  padding-right: 15px;
  padding-left: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* все что ниже это все портфолио */
.filter {
  display: flex;
  /* padding-top: 100px; */
}

.filter {
  justify-content: center;
  padding-bottom: 56px;
}

/*  карточки в портофолио */
.work-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  /* outline: 2px solid red; */
  /* position: relative; */
}

.work-list-disrb {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.556;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 0;
  color: var(--primary-bg-color);
  /* display: inline-block; */
}

.discr {
  position: absolute;
  height: 100%;
  width: 100%;
  padding-top: 63px;
  padding-bottom: 63px;
  padding-left: 24px;
  padding-right: 24px;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.work-list .card {
  position: relative;
  overflow: hidden;
}

.work-list .card:hover .discr {
  transform: translateY(-100%);
}

.work-list .item {
  margin-left: 30px;
  margin-top: 30px;
  /* background-color: red; */
  width: calc(100% / 3 - 30px);
  transition: all var(--time-animation) cubic-bezier(0.4, 0, 0.2, 1);
}

.work-list .item:hover,
.work-list .item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.container-cards {
  /* background-color: yellow; */
  padding-bottom: 94px;
  /* outline: 2px solid red; */
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.work-list .text-card {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border: 1px solid #eeeeee;
}

.work-list .title {
  margin-top: 0;
  margin-bottom: 4px;
}

/*  4 домашка */
.feature-list .item {
  width: 270px;
  border-radius: 4px;
  /* background-color: red; */
}

.feature-list .item:not(:last-child) {
  margin-right: 30px;
}

.feature-list .item::before {
  display: block;
  content: "";
  height: 120px;
  /* background-image: url(/img/locator.png); */
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--secondary-bg-color);
  margin-bottom: 30px;
  /* outline: 1px solid green; */
}

.feature-list .antena::before {
  background-image: url(../img/utp/antena.svg);
}

.feature-list .clock::before {
  background-image: url(../img/utp/clock.svg);
}

.feature-list .diagr::before {
  background-image: url(../img/utp/diagramm.svg);
}

.feature-list .cosmo::before {
  background-image: url(../img/utp/astron.svg);
}

.client-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* height: 90px; */
  margin-left: -30px;
  /* margin-right: 30px; */
  /* outline: 2px solid green; */
}

.client-list .item {
  border: 1px solid #afb1b8;
  width: calc(100% / 6 - 30px);
  margin-bottom: 20px;
  margin-left: 30px;
  text-align: center;
  border-radius: 4px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 63px;
  padding-left: 63px;
  transition: all var(--time-animation) cubic-bezier(0.4, 0, 0.2, 1);
}

.client-list .item:hover {
  border: 1px solid var(--accent-color);
}

.client-list .item:hover .logo-icons-svg,
.client-list .item:focus .logo-icons-svg {
  fill: var(--accent-color);
}

.team-list .socials-list {
  display: flex;
}

.social-icons-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  /* background-color: rgb(189, 26, 26); */
}

.social-icons-svg {
  width: 20px;
  height: 20px;
}

.env-icons-svg {
  width: 16px;
  height: 12px;
  fill: var(--primary-text-color);
  vertical-align: middle;
  transition: all var(--time-animation) cubic-bezier(0.4, 0, 0.2, 1);
}

.phone-icons-svg {
  width: 10px;
  height: 16px;
  fill: var(--primary-text-color);
  vertical-align: middle;
  transition: all var(--time-animation) cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-list {
  /* outline: 2px solid green; */
  padding-top: 16px;
  padding-bottom: 30px;
  padding-right: 32px;
  padding-left: 32px;
}

.socials-list-item:not(:last-child) {
  margin-right: 10px;
}

.icon-contacts-link:hover .env-icons-svg {
  fill: var(--accent-color);
}

.icon-contacts-link:hover .phone-icons-svg {
  fill: var(--accent-color);
}

.social-icons-link:hover .social-icons-svg {
  fill: var(--accent-color);
}

.social-icons-svg {
  fill: var(--primary-text-color);
  transition: all var(--time-animation) cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-icons-svg {
  fill: var(--primary-text-color);
  transition: all var(--time-animation) cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-list-footer {
  display: flex;
  /* outline: 2px solid yellow; */
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.socials-list-item-footer {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all var(--time-animation) cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-list-item-footer:hover,
.socials-list-item-footer:focus {
  background-color: var(--accent-color);
}

.socials-list-item-footer:not(:last-child) {
  margin-right: 10px;
}

.social-icons-svg-footer {
  fill: var(--primary-bg-color);
  width: 20px;
  height: 20px;
}

.section-title-footer {
  font-weight: 700;
  font-size: 14px;
  line-height: 1, 143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-bg-color);
}

.container-footer {
  display: flex;
}

.container-footer-adres {
  width: calc((100% - 30px * 3) / 4);
  margin-right: 30px;
}

.container-footer-socials {
  width: calc((100% - 30px * 3) / 4);
  margin-right: 30px;
}

.container-footer-form {
  width: calc((100% - 30px) / 2);
}

.footer-input {
  padding: 15px;
  background: var(--triple-bg-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
  width: 358px;
}

.footer-form {
  margin-right: 12x;
}

.footer-form-button {
  display: inline-block;
  border-radius: 3px;
  padding: 10px 32px;
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  align-items: center;
}

.footer-form-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: var(--accent-color);
  background-image: url(../img/logotg.svg);
  margin-left: 10px;
  vertical-align: middle;
}

.exmpl-img {
  position: relative;
  /*  */
}

.exmpl-title {
  position: absolute;
  /* outline: 1px solid orange; */
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-bg-color);
  background: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
  margin-top: 0;
  margin-bottom: 0;
  justify-content: center;
  align-content: center;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.2);
  /* background-color: orange; */
  width: 100%;
  height: 100%;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  width: 528px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.btn-modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: all var(--time-animation) cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icons-svg {
  width: 11px;
  height: 11px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*# sourceMappingURL=main.css.map */